.bg_purple {
    background-color: $purple;
}

.bg_green_light {
    background-color: $green-light;
}

.bg_pink {
    background-color: $bg_pink;
}

.bg_blue_light {
    background-color: $bg_blue_light;
}