footer {
    margin-top: auto;
    padding: 7rem 0 7rem;
    color: #fff;
    position: relative;
}
 
footer ul {
    list-style-type: none;
}

footer ul li { 
    font-size: 1.2em;
    display: inline-block;
    margin-right: 20px; 
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    
}
 
footer ul li a:hover {
    color: $nav-hamburger-hover;
    text-decoration: none;
}

footer a {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    text-decoration: none;
    color: $white;
}
footer a:hover {
    color: $green;
    text-decoration: none;
}